Source: scarpa-connection-manager
Section: net
Priority: optional
Maintainer: Tomas Larsson <larre.b.larsson@gmail.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all
Standards-Version: 4.6.2
Homepage: https://github.com/larreblarsson/SCARPA_Connection_Manager

Package: scarpa-connection-manager
Architecture: all
Depends: ${misc:Depends}, python3, python3-gi, gir1.2-gtk-3.0, gir1.2-vte-2.91, python3-paramiko, python3-pexpect, gnupg, openssh-client
Description: SCARPA Connection Manager
 A GTK-based SSH/SFTP manager that provides a user-friendly interface
 for managing connections. Includes terminal integration and file transfer.
